{% extends "layout.html" %}
        
{% block body %}  
        <input autocomplete="off" autofocus name="q" placeholder="Search" type="text">
        <ul></ul>

        <script>
                let input = document.querySelector('input')
                input.addEventListener('input', async function() {
                    let response = await fetch('/search?q=' + input.value);
                    let songs = await response.json();
                    let html = '';
                    for (let i in songs) {
                        let title = songs[i].title.replace(/</g, '&lt;').replace(/&/g, '&amp;');
                    html += '<li>  <a href="/Player/' + songs[i].id + '">' + title + '</a> </li>';
                    }
                    document.querySelector('ul').innerHTML = html;
                });
        </script>
{% endblock %}  


